logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# compiled output
ui/dist
ui/tmp
ui/out-tsc
# Only exists if Bazel was run
ui/bazel-out

# dependencies
ui/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
ui/.idea
ui/.project
ui/.classpath
ui/.c9/
ui/*.launch
ui/.settings/
ui/*.sublime-workspace

# IDE - VSCode
ui/.vscode/*
ui/!.vscode/settings.json
ui/!.vscode/tasks.json
ui/!.vscode/launch.json
ui/!.vscode/extensions.json
ui/.history/*

# misc
ui/.sass-cache
ui/connect.lock
ui/coverage
ui/libpeerconnection.log
ui/npm-debug.log
ui/yarn-error.log
ui/testem.log
ui/typings

# System Files
ui/.DS_Store
ui/Thumbs.db
