<div class="container">
  <h1 class="header">Match Table</h1>
  <div class="table-area">
    <div class="table-container mat-elevation-z8">
      <table #matchTable mat-table [dataSource]="matchesData">
        <!-- Team A Column -->
        <ng-container matColumnDef="teamA">
          <th mat-header-cell *matHeaderCellDef> Team A </th>
          <td mat-cell *matCellDef="let element"> {{element.teamA}} </td>
        </ng-container>

        <!-- Team A Score Column -->
        <ng-container matColumnDef="teamAScore">
          <th mat-header-cell *matHeaderCellDef> Team A Score </th>
          <td mat-cell *matCellDef="let element"> {{element.teamAScore}} </td>
        </ng-container>

        <!-- Team B Score Column -->
        <ng-container matColumnDef="teamBScore">
          <th mat-header-cell *matHeaderCellDef> Team B Score </th>
          <td mat-cell *matCellDef="let element"> {{element.teamBScore}} </td>
        </ng-container>

        <!-- Team B Column -->
        <ng-container matColumnDef="teamB">
          <th mat-header-cell *matHeaderCellDef> Team B </th>
          <td mat-cell *matCellDef="let element"> {{element.teamB}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Random Match Column -->
        <ng-container matColumnDef="random">
          <th mat-header-cell *matHeaderCellDef> Random </th>
          <td mat-cell *matCellDef="let element"> {{element.randomMatch}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <br>
  <div class="button-area">
    <div class="output-match-res">
      <h2>Last Match Played</h2>
      <p>{{ addMatchTeams }}</p>
      <p>{{ addMatchScore }}</p>
      <p>{{ addMatchDate }}</p>
      <p>{{ addMatchRand }}</p>
    </div>
    <button mat-raised-button color="button-color" (click)="addRandomMatch()">Add a random match</button>
    <button  mat-raised-button color="button-color" (click)="sortMatchDates()">Sort matches by date</button>
    <mat-form-field appearance="outline">
      <mat-label>Search date(DD/MM/YYYY)</mat-label>
      <input matInput placeholder="DD/MM/YYYY" type="text" #date/>
    </mat-form-field>
    <p class="error-message">{{ errorMessage }}</p>
    <button  mat-raised-button color="button-color" (click)="getFilteredMatches(date.value)">Search match by date</button>
    <button  mat-raised-button color="button-color" (click)="getMatchesData()">Reset match table</button>
  </div>
</div>
<footer>
  <p>Created by Navod Zoysa</p>
</footer>
