.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  flex: 0 0 100%;
  background-color: #37003c;
  color: white;
  margin-bottom: 0;
}

.table-area {
  flex: 1 1 auto;
  width: 60%;
  position: relative;
}

.table-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 500px;
}

.mat-table {
  width: 100%;
}

.button-area {
  flex: 2;
  align-items: center;
  justify-content: center;
}

.output-match-res {
  float: left;
  margin-left: 30%;
  margin-bottom: 8px;
  margin-top: 1px;
  clear: both;
  background-color: #37003c;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
}

button {
  float: left;
  margin-left: 30%;
  margin-bottom: 5%;
  clear: both;
}

.mat-button-color {
  background-color: #37003c;
}

mat-form-field {
  float: left;
  margin-left: 30%;
  margin-bottom: 1%;
  clear: both;
  /*background-color: #37003c;*/
  color: white;
}

.error-message {
  float: left;
  margin-left: 30%;
  margin-bottom: 1%;
  clear: both;
  color: white;
}

th, td {
  text-align: left;
}
