<div style="text-align:center;">
  <h1>Welcome to the Premier League Manager</h1>
<!--  <nav>-->
<!--    <a [routerLink]="['java']">-->
<!--      <img width="300" height="300" src="../assets/java.webp">-->
<!--    </a>-->
<!--    <a [routerLink]="['play']">-->
<!--      <img width="300" height="300" src="../assets/play.svg">-->
<!--    </a>-->
<!--    <a [routerLink]="['angular']">-->
<!--      <img width="300" height="300" src="../assets/angular.svg">-->
<!--    </a>-->
<!--  </nav>-->
<!--  <router-outlet></router-outlet>-->
  <app-club-table></app-club-table>
  <app-match-table></app-match-table>
</div>
